/* 
=========================================================
This is for framing the body section

Replace it with the actual css for the footer and nav
=========================================================
*/
nav, 
footer{

	height: 114px;
	background: #1C1C1C;
	color: white;
	width: 100%;

}



/* 
======================
Body
=====================
*/


body{

	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	background: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;

}

main {
	
	max-width: 1440px;
}


.bodyHeader{

	font-size: 40px;
	text-align: center;
	font-weight: 700;
	margin-top: 145px;
	margin-bottom:263px;

}


/* 
======================
Left leaning Cards 
=====================
*/

.infoCard--header{

	font-size: 128px;
	margin-left: 118px;
	margin-bottom: 7px;

}

.infoCard--body{

	display: flex;
	flex-direction: column;
	margin: 7px 53px 120px 53px;
	background: #EDEFE6;
    padding: 13px;


}

.infoCard--body__text{

	max-height: 50%;
	margin: 0 0 13px 0;
	font-size: 20px;
	font-weight: 700;

}

.infoCard--body__img{

	height: 385px;
	width: 100%;
	background: #C4C4C4;
}

/* 
======================
Right leaning Cards 
=====================
*/


.infoCard--header.right{

	font-size: 128px;
	margin-right: 118px;
	margin-bottom: 7px;
	text-align: right;

}


.infoCard--body__text.right{

	max-height: 50%;
	margin: 13px 0 0 0;
	font-size: 20px;
	font-weight: 700;

}

	


/* 
===========================
Media Queries 
===========================
*/
@media(min-width: 700px){

	/* 
	======================
	Left leaning Cards 
	=====================
	*/

	.infoCard--body{

	display: flex;
	flex-direction: row;
	margin: 7px 53px 120px 53px;
	background: #EDEFE6;
	align-items: center;
	justify-content: space-between;
    padding: 13px;


	}

	.infoCard--body__text{

	max-width: 50%;
	margin: 0;
	margin-right: 13px;

	}

	.infoCard--body__img{

	height: 385px;
	width: 50%;
	background: #C4C4C4;
	}

	/* 
	======================
	Right leaning Cards 
	=====================
	*/


	.infoCard--body__text.right{

	max-height: 50%;
	margin: 0 0 0 13px;
	font-size: 20px;
	font-weight: 700;

	}
}
